@{
    ViewBag.Title = "Home Page";
}

<span id="popupNotification"></span>
<div class="panel panel-default">

    <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
            <button id="CheckGroupStatus" type="button" class="btn btn-default">Проверить статус группы</button>
            <button id="LearnGroup" type="button" class="btn btn-default">Переобучить группу</button>
            <button id="RefreshStatistic" type="button" class="btn btn-default">Обновить график</button>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Game of Thrones Emotions</h3>
    </div>
    <div class="panel-body">
        <div id="daenerysGrid" class=""></div>
    </div>
    <div class="panel-body">
        <div id="missandeiGrid" class=""></div>
    </div>
    <div class="panel-body">
        <div id="mormontGrid" class=""></div>
    </div>
</div>
